
.profile-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all .3s ease;
  text-decoration: none;
  cursor: pointer;
}

.profile-pic:hover {
  background-color: rgba(0,0,0,.5);
  z-index: 10000;
  color: #fff;
  transition: all .3s ease;
  text-decoration: none;
}

.profile-pic span {
  display: inline-block;
  padding-top: 4.5em;
  padding-bottom: 4.5em;
}

form input[type="file"] {
        display: none;
        cursor: pointer;
}



body {
  padding: 10px;
  font-family: sans-serif;
  background: url(https://images.unsplash.com/photo-1617791160536-598cf32026fb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80);
  background-size:cover;
}
.container {
  width: 400px;
  height: 700px;

}

.bi {
  font-size: 1.5em;
  cursor: pointer;
}

.imgFrame {
  height: 200px;
}

.prof {
  opacity: 1;
  transition: opacity 1s;
}

.hideIt {
  opacity: 0;
}

.errBox {
  border: 3px solid red !important;
}
 
.modal-content {
  width: 400px;
  height: 600px;
  background-color: #fff;
  border: solid 2px #fff;
  box-shadow:
    inset 60px 0 120px #f0f,  /* left magenta */
    inset -60px 0 120px #0ff; /* right cyan */
}


.box {
  width: 350px;
  padding: 40px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  border: none;
  border-radius: 25px;
  text-align: center;
}


#button{
  border: 2px solid #2ecc71;
  background: none;
  display: block;
  margin: 0px auto;
  text-align: center;
  padding: 15px 40px;
  outline: none;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 200;
}

.nav-link{
  color: #000000 !important;
}
.container-1{
  color: #000000;
  font-size: x-large;
}

.container{
  color: #000000;
  font-size: x-large;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}




